# ignore objects and archives
*.[oa]
*.lo
*.la

.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
isl_config.h
isl_config.h.in
isl_config.h.in~
compile
config.log
config.status
config.sub
configure
configure~
depcomp
doc/Makefile
doc/Makefile.in
gitversion.h
include/isl/config.h
include/isl/stdint.h
include/stamp-h2
include/isl/stamp-h2
install-sh
isl-uninstalled.pc
isl-uninstalled.sh
isl.pc
isl.pc.in
isl_bound
isl_cat
isl_closure
isl_pip
isl_polyhedron_detect_equalities
isl_polyhedron_minimize
isl_polyhedron_sample
isl_polytope_scan
isl_test
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
piplib
py-compile
stamp-h1
test-driver

isl_srcdir.c
bound_test.sh
pip_test.sh
install/include/isl/aff_type.h
install/include/isl/aff.h
install/include/isl/arg.h
install/include/isl/ast_build.h
install/include/isl/ast_type.h
install/include/isl/ast.h
install/include/isl/constraint.h
install/include/isl/cpp.h
install/include/isl/ctx.h
install/include/isl/fixed_box.h
install/include/isl/flow.h
install/include/isl/hash.h
install/include/isl/hmap_templ.c
install/include/isl/hmap.h
install/include/isl/id_to_ast_expr.h
install/include/isl/id_to_id.h
install/include/isl/id_to_pw_aff.h
install/include/isl/id_type.h
install/include/isl/id.h
install/include/isl/ilp.h
install/include/isl/list.h
install/include/isl/local_space.h
install/include/isl/lp.h
install/include/isl/map_to_basic_set.h
install/include/isl/map_type.h
install/include/isl/map.h
install/include/isl/mat.h
install/include/isl/maybe_ast_expr.h
install/include/isl/maybe_basic_set.h
install/include/isl/maybe_id.h
install/include/isl/maybe_pw_aff.h
install/include/isl/maybe_templ.h
install/include/isl/maybe.h
install/include/isl/multi.h
install/include/isl/obj.h
install/include/isl/options.h
install/include/isl/point.h
install/include/isl/polynomial_type.h
install/include/isl/polynomial.h
install/include/isl/printer_type.h
install/include/isl/printer.h
install/include/isl/schedule_node.h
install/include/isl/schedule_type.h
install/include/isl/schedule.h
install/include/isl/set_type.h
install/include/isl/set.h
install/include/isl/space_type.h
install/include/isl/space.h
install/include/isl/stdint.h
install/include/isl/stream.h
install/include/isl/stride_info.h
install/include/isl/typed_cpp.h
install/include/isl/union_map_type.h
install/include/isl/union_map.h
install/include/isl/union_set_type.h
install/include/isl/union_set.h
install/include/isl/val_type.h
install/include/isl/val.h
install/include/isl/vec.h
install/include/isl/version.h
install/include/isl/vertices.h
install/lib/libisl.23.dylib
install/lib/libisl.23.dylib-gdb.py
install/lib/libisl.dylib
build/include/isl/aff_type.h
build/include/isl/aff.h
build/include/isl/arg.h
build/include/isl/ast_build.h
build/include/isl/ast_type.h
build/include/isl/ast.h
build/include/isl/constraint.h
build/include/isl/cpp.h
build/include/isl/ctx.h
build/include/isl/fixed_box.h
build/include/isl/flow.h
build/include/isl/hash.h
build/include/isl/hmap_templ.c
build/include/isl/hmap.h
build/include/isl/id_to_ast_expr.h
build/include/isl/id_to_id.h
build/include/isl/id_to_pw_aff.h
build/include/isl/id_type.h
build/include/isl/id.h
build/include/isl/ilp.h
build/include/isl/list.h
build/include/isl/local_space.h
build/include/isl/lp.h
build/include/isl/map_to_basic_set.h
build/include/isl/map_type.h
build/include/isl/map.h
build/include/isl/mat.h
build/include/isl/maybe_ast_expr.h
build/include/isl/maybe_basic_set.h
build/include/isl/maybe_id.h
build/include/isl/maybe_pw_aff.h
build/include/isl/maybe_templ.h
build/include/isl/maybe.h
build/include/isl/multi.h
build/include/isl/obj.h
build/include/isl/options.h
build/include/isl/point.h
build/include/isl/polynomial_type.h
build/include/isl/polynomial.h
build/include/isl/printer_type.h
build/include/isl/printer.h
build/include/isl/schedule_node.h
build/include/isl/schedule_type.h
build/include/isl/schedule.h
build/include/isl/set_type.h
build/include/isl/set.h
build/include/isl/space_type.h
build/include/isl/space.h
build/include/isl/stdint.h
build/include/isl/stream.h
build/include/isl/stride_info.h
build/include/isl/typed_cpp.h
build/include/isl/union_map_type.h
build/include/isl/union_map.h
build/include/isl/union_set_type.h
build/include/isl/union_set.h
build/include/isl/val_gmp.h
build/include/isl/val_type.h
build/include/isl/val.h
build/include/isl/vec.h
build/include/isl/version.h
build/include/isl/vertices.h
build/lib/libisl.23.dylib
build/lib/libisl.23.dylib-gdb.py
build/lib/libisl.dylib
